<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/add-product.css">
<link rel="stylesheet" href="css/main.css">

<main>
  <h1 class="main__h1">Welcome</h1>
    <p class="main__p">Please Login..</p>
    <div class="center">
      <% if(errorMessage) { %>
       <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form action="/login"method="POST" class="main__form">
        <label for="email" class="main-form__label">E-mail</label>
        <input 
          class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %> main-form__input"
          type="text"  
          placeholder="(email@email.com)" 
          name="email" 
          id="email" 
          value="<%= oldInputs.email %>" required>

        <label for="password" class="main-form__label">Password</label>
        <input
          class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %> main-form__input"  
          type="password" 
          placeholder="At least 5 characters long" 
          name="password" 
          id="password" 
          value="<%= oldInputs.password %>" required>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="main-form__button" type="submit">Login</button>
      </form>
      <div class="centered">
        <a href="/reset"> Reset Password </a>
      </div>
    </div>
</main>
    
<%- include('../includes/end.ejs') %>