<%- include('../includes/head.ejs') %>

  <main>
    <% if(prods.length > 0) { %>
      <p class="main__p">Products..</p>
      <div class="center">
        <% for (let product of prods) { %>

          <div class="center">
            <article class="main__card">
              <h2 class="main-card__h1"><%= product.title %></h2>
              <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" class="main-card__img" width="150" height="150">
              <h2 class="main-card__h2">$<%= product.price %></h2>
              <p class="main-card__p"><%= product.description %></p>
              <div class="flex">
                <a href="/edit-product/<%= product._id %>?edit=true">
                  <button class="main-card__button" type="submit">Edit</button>
                </a>
                  <input type="hidden" value="<%= product._id %>" name="productId">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="main-card__button" type="button" onclick="deleteProduct(this)">Delete</button>
              </div>
            </article>
          </div>

        <% } %>
      </div>
    <% } else { %>
      <h1>No products found!</h1>
    <% } %>
  </main>

<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>