<%- include('../includes/head.ejs') %>

<main>
    <hr>
    <div class="centered">
      <h1><%= product.title %></h1>
      <div>
        <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" width="500px" height="500px" class="margin">
      </div>
      <h2>$<%= product.price %></h2>
      <p class="margin"><%= product.description %></p>
      <% if(isAuthenticated) { %>
        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
      <% } else {%>
        <!-- <form action="/signup" method="get">
          <button class="main-card__button" type="submit">Add to cart</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="productId" value="<%= product._id %>">
        </form> -->
      <% } %>
    </div>
    <hr>
  </main>

<%- include('../includes/end.ejs') %>

    